*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    gap: 1rem;
}
.menu ul li{
    list-style-type: none;
    justify-content: space-between;
}
.menu ul li a{
    text-decoration: none;
    color: black;

}
.login{
    display: flex;
    gap: 1rem;
}
.login li{
    list-style-type: none;
}
.login li a{
    text-decoration: none;
    color: black;
}
.container{
 display: grid;
 grid-template-columns: auto auto;
 grid-template-rows: repeat(4, 1fr);
}
.left{

}
.right{
    background-image: url(./images/image-hero-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}